{% extends 'base.html' %}
{% block title %} LOGIN {% endblock %}
{% block content %} 
<div style="margin-top: 40px;">
<form method= "POST">
    <label for="fname"> NAME</label> 
    <input placeholder="Peter" type ="text" id="fname" name="fname" class="form-control"> 
    <br>
    <label for="password"> PASSWORD</label> 
    <input placeholder = "deine pasword" type ="text" id="password" name="password" class="form-control"> 
    <br>
    <input type="submit" name="sumbit" id="submit" class="btn btn-primary">

</form>
    
</div>
{% endblock%}